* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;
  font: 18px/26px "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
}

.nav {
  height: 50px;
  width: 100%;
  border-top: 1px solid transparent;
  background-color: rgb(240, 234, 234);
  line-height: 50px;
  display: flex;
}

.nav a {
  padding: 0 10px;
  text-decoration: none;
  color: #0b5131;
  font-size: 20px;
  font-weight: 700;
  height: 50px;
  width: 100%;
  text-align: center;
  display: inline-block;

}

nav p {
  background-color: #0b5131;
  color: #ffffff;
}
/* .nav a:hover 
{
  background-color: #0b5131;
  color: #ffffff;
}*/
.current
{
  background-color: white;
  color: #ffffff;
}

/*index*/

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {

  width:50%;
  height: auto;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: transparent;
  border: 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}




/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.title {
  color: #0b5131;
  width: 100%;
  height: 30px;
  margin: 20px;
}

table {
  width: 100%;
  height: 150px;
  margin: auto;
}

.underline {
  text-decoration: underline;
  width: 90px;
}

.bold {
  display: flex;
  height: 70px;
  margin: auto;
}

.bold li {
  list-style: none;
  display: inline-block;
  width: 100%;
  height: 28px;
  background-color: #0b5131;
  text-align: center;
  margin: 0 30px;
  border-radius: 10px;
}

.bold li a {
  font-weight: 500;
  color: #ffffff;
  text-decoration: none;
}

.bold li a:hover {
  font-weight: 700;
  color: #ffffff;
}

/* introduction*/
.bigbox {
  height: 530px;
  width: 100%;
  margin: 0 auto;
  display: flex;
}

.bigbox .protrait {
  width: 20%;
  height: 500px;
  border: 2px solid #0b5131;
  background-color: #ffffff;
 box-sizing: border-box;
  margin: 10px;

}

.bigbox .protrait img {
  width: 90%;
  height: auto;
  margin: 5% ;

}

.bigbox .protrait .sketch {
  height: 16px;
  font-size: 16px;
  margin: 0 5% ;
}

.bigbox .intro {
  height: 500px;
  width: 75%;
  margin: 10px;
  border: 2px solid #0b5131;
  background-color: #ffffff;

}

.bigbox .intro h3 {
  margin: 20px;
  color: #0b5131;
  width: 100%;
  height: auto;
}

.bigbox .intro ul {
  margin: 20px 40px;
  width: 100%;
  height: auto;
}

.bigbox .intro p {
  font-size: 18px;

  width: 85%;
  height: auto;
  margin: 20px 50px;
}

em {
  color: #0b5131;
  font-weight: 700px;
  font-style: normal;
}

/*skills */
.skills-box1 {
  height: 200px;
  width: 100%;
  border: 1px solid transparent;
  border-top: 4px;
}

.skills-box1 ol {
  border: 2px solid #0b5131;
  width: 70%;
  height: auto;
  margin: auto;
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 5px 15px 5px rgb(177, 174, 174);
}

.skills-box1 ol li {
  margin: 10px auto;
  list-style: none;
  text-indent: 2em;
}

.skills-box1 h3 {
  margin: 20px;
  font-size: 25px;
  color: #0b5131;
}

.skills-box2 {
  height: 200px;
  width: 100%;
  border: 1px solid transparent;
  border-top: 4px;
}

.skills-box2 ol {
  border: 2px solid #0b5131;
  width: 70%;
  height: auto;
  margin: auto;
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 5px 15px 5px rgb(177, 174, 174);
}

.skills-box2 ol li {
  margin: 10px auto;
  list-style: none;
  text-indent: 2em;
}

.skills-box2 h3 {

  margin: 20px;
  font-size: 25px;
  color: #0b5131;
}

.skills-box3 {
  height: 200px;
  width: 100%;
  border: 1px solid transparent;
  border-top: 4px;
}

.skills-box3 ol {
  border: 2px solid #0b5131;
  width: 70%;
  height: auto;
  margin: auto;
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 5px 15px 5px rgb(177, 174, 174);
}

.skills-box3 ol li {
  margin: 10px auto;
  list-style: none;
  text-indent: 2em;
}

.skills-box3 h3 {

  margin: 20px;
  font-size: 25px;
  color: #0b5131;
}

.skills-box4 {
  height: 200px;
  width: 100%;
  border: 1px solid transparent;
  border-top: 4px;
}

.skills-box4 ol {
  border: 2px solid #0b5131;
  width: 70%;
  height: auto;
  margin: auto;
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 5px 15px 5px rgb(177, 174, 174);
}

.skills-box4 ol li {
  margin: 10px auto;
  list-style: none;
  text-indent: 2em;
}

.skills-box4 h3 {

  margin: 20px;
  font-size: 25px;
  color: #0b5131;
}

.direction {

  height: auto;
  width: 100%;
  margin-bottom: 10px;
}

.direction h3 {


  margin: 20px;
  font-size: 25px;
  color: #0b5131;
}

.direction p {
  color: #0b5131;
  height: auto;
  width: 100%;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}

/*hobbies*/
.hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.photos {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
  height: 525px;
}

.photos  img {
    width: 100%;
    height: 270px;
    object-fit: cover;
}

.photos .figure1{
  margin-left: 1em;
}

.photos .figure1 h3 {
  font-size: 20px;
  margin: 10px;
  text-align: center;
  color: #0b5131;
}



.photos .figure1 p {
  text-align: left;
  padding: 20px 10px;
}

.photos .figure2 h3 {
  font-size: 20px;
  margin: 10px;
  color: #0b5131;
  text-align: center;
}

.photos .figure2 p {
  text-align: left;
  padding: 20px 10px;
}

.photos .figure3 h3 {
  font-size: 20px;
  margin: 10px;
  color: #0b5131;
  text-align: center;
}

.photos .figure3 p {
  text-align: left;
  padding: 20px 10px;
}

/*footer*/
.foot {
  background-color: #0b5131;
  color: #ffffff;
  text-align: center;
  height: auto;
  width: 100%;
  margin-bottom: 2px;
}


.foot ul li a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
}
.foot ul li a:hover {
  outline: none;
  color: #000000;
}
/*form*/

form {
  width: 50%;
  margin: 3em auto;
  height: 420px;
}
label {
  display: block;
  font-weight: 700;
  color: #0b5131;
}

.form-input {
  width: 100%;
  padding: 10px 0;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 18px;
  margin-bottom: 2em;
  margin: 10px auto;
  display: block;
  box-sizing: border-box;
}
.form-input:focus {
  outline: none;
  border: 2px solid #0b5131;
}
textarea {

  height: 150px;
  resize: vertical;
}

[type="submit"] {
  width: 100%;
  border-radius: 4px;
  background-color: #0b5131;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1px;
  border: 10px solid #0b5131;
  cursor: pointer;
  text-transform: uppercase;
}

[type="submit"]:hover,
[type="submit"]:focus {
  color: black;
}
.error {
  border-color: #ff0000;
}
.error-message {
  color: #ff0000;
  margin: -0.5em 0 1em;
}

@media (min-width: 768px) {
    .photos figure {
        width: calc(33% - 1rem);
    }
}
